/* boiler plate css */
@import '~antd/dist/antd.css';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}
.mentorship-form {
  border: solid black;
  padding: 25px;
  margin: 30px;
}

.next-button {
  float: right;
}

.time-zone-picker {
  overflow: ellipsis;
  width: 370px;
}
