/* boiler plate css */
@import '~antd/dist/antd.css';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #f0f2f5;
}

a {
  color: #333;
  text-decoration: none;
}

.MentorTutorial,
.MentorCompletion,
.MenteeCompletion,
.ForgotPassword,
.EmailVerify {
  border: solid black;
  padding: 25px;
  margin: 30px;
}

.landing-icon {
  font-size: 125px;
}

.container {
  width: 100%;
  height: 100%;
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.column {
  width: 30%;
  height: 80%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  border: solid black;
}

#adminLeft {
  float: left;
  box-shadow: 1px 8px 30px -2px #adc6ff inset, 5px 10px 10px #888888;
}

#mentorMiddle {
  float: left;
  margin-left: 5%;
  box-shadow: 1px 8px 30px -2px #adc6ff inset, 5px 10px 10px #888888;
}

#menteeRight {
  float: right;
  box-shadow: 1px 8px 30px -2px #adc6ff inset, 5px 10px 10px #888888;
}

#CurrentActiveMentors {
  float: left;
}

#InvitedPendingMentors {
  float: left;
  margin-left: 5%;
}

#InviteTab {
  float: right;
  border: none;
}

.Login {
  width: 500px;
  border: solid #001529;
  margin-top: 150px;
  margin-left: 380px;
}

.AdminSignup,
.MenteeForm,
.MentorForm {
  margin: 30px;
  padding: 10px;
  padding-left: 100px;
  text-align: center;
  border: solid black;
}

.my-menu {
  height: 64px;
  background: rgba(0, 0, 0, 0);
  color: rgb(211, 211, 211);
}

.loginlink {
  color: blue;
}

#mentee-request-row {
  padding-left: 40px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 20px;
}

.check {
  color: #52c41a;
}

.close {
  color: #ff3333;
}

.user-icon {
  font-size: 30px;
  padding: 8px;
}

.mentee-card {
  float: left;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

#accept {
  border: 1px solid grey;
}
#decline {
  border: 1px solid grey;
  margin-left: 25px;
}

/*COSC360 mentioned that it's good to be aware of sizing when it comes to various devices, 
So the following lines have been added as a protective measure */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
