/* boiler plate css */
@import '~antd/dist/antd.css';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #f0f2f5;
}

a {
  color: #333;
  text-decoration: none;
}

p1 {
  font-size: 1.15em;
}

p3 {
  font-size: 0.75em;
}

.MentorTutorial,
.MentorCompletion,
.MenteeCompletion,
.LandingPage,
.ForgotPassword {
  border: solid black;
  padding: 25px;
  margin: 30px;
}

.container { 
  width:100%; 
  height:100%; 
  padding-top:1%; 
  padding-left:5%; 
  padding-right:5%; 
  padding-bottom: 5%;
} 

#adminLeft {
  float:left; 
  width:30%; 
  height:80%; 
  padding-top:.5%; 
  padding-bottom: .5%;
  border:solid black; 
}

#mentorMiddle {
  float:left; 
  width:30%; 
  height:80%; 
  padding-top:.5%; 
  padding-bottom: .5%;
  border:solid black; 
  margin-left:5%; 
}

#menteeRight {
  float:right; 
  width:30%; 
  height:80%; 
  padding-top:.5%; 
  padding-bottom: .5%;
  border:solid black; 
}

.Login {
  width: 500px;
  border: solid #001529;
  margin-top: 150px;
  margin-left: 380px;
}
.MenteeForm,
.MentorForm {
  margin: 30px;
  padding: 10px;
  padding-left: 100px;
  text-align: center;
  border: solid black;
}

.my-menu {
  height: 64px; 
  background: rgba(0, 0, 0, 0);
  color: rgb(211, 211, 211);
}

#logout_button {
  position: absolute;
  right: 0;
}

p2 {
  font-size: 1.15em;
}

p4 {
  font-size: 0.75em;
}

.loginlink {
  color: blue;
}

table,
th {
  border: 1px solid rgb(112, 111, 111);
  background-color: rgb(239, 247, 247);
}

th {
  text-align: center;
}

td {
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 20px;
}

#request-row {
  border: solid;
  border-width: 1px 0;
  text-align: center;
}

.check {
  color: #52c41a;
}

.close {
  color: #ff3333;
}

.user-icon {
  font-size: 30px;
  padding: 8px;
}

.mentee-requests {
  float: left;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

table {
  table-layout: auto;
  width: 350px;
}

#accept {
  border: 1px solid grey;
}
#decline {
  border: 1px solid grey;
  margin-left: 25px;
}

/*COSC360 mentioned that it's good to be aware of sizing when it comes to various devices, 
So the following lines have been added as a protective measure */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
