# Pace C Peer Testing Milestone #1

## Brief Description of The System
[Placeholder until a description has been created] - ((common - JP))

## Current Set of Features Available in the System
[Placeholder until we identify the features] - ((common - JP))

## Number of Participants  - ((individual))
In total, \_\_\_ individuals took part in our peer testing sessions. The members in the table are labelled according to how they were entered in the [sign-up document](https://docs.google.com/spreadsheets/d/1hl-bVGtlN1JMaNCbpx4tqgj7R5T_lkqo-KdooR9Aevk/edit#gid=1784474127). A table of this can be seen below:
| Pace C Team Member Conducting the Session | Participant's Name | Completed? [Link to video if yes, if partially complete state why, or if the session wasn't conducted say no] |
|-------------------------------------------|--------------------|---------------------------------------------------------------------------------------------------------------|
| JP | | |
| JP | | |
| Katrina | | |
| Katrina | | |
| Aleks |  Aaron Mahnic  | https://drive.google.com/file/d/1uXFvFiiN1yc6-SzBoKF5isCCfTlds3us/view?usp=sharing |
| Aleks | | |
| Eric | | |
| Eric | | |

## User Groups and List of Tasks that Participants Completed

[Will most likely insert what Eric identified within list-of-tasks.md Potentially, we could also include the task breakdown table from deadlines-for-peer-testing-milestone.md as well] - ((common - unassigned))

## List of Issues Discovered and Their Priority - ((individual))

#### High

-

#### Medium

-

#### Low

-

## Quantitative Data - ((common - unassigned))
[This would most likely come from the Google Forms which outlines the 10 point heuristics. I think Eric set this up - but we'll need to confirm]

### Testimonials from the Participants to Explain the Graph - ((indivial - unassigned))
[Placeholder. Quotes from the user's experience will be placed here]
