# Pace C Peer Testing Milestone #1

## Brief Description of The System
[Placeholder until a description has been created] - ((common - JP))

## Current Set of Features Available in the System
[Placeholder until we identify the features] - ((common - Katrina))

## Number of Participants  - ((individual))
In total, \_\_\_ individuals took part in our peer testing sessions. The members in the table are labelled according to how they were entered in the [sign-up document](https://docs.google.com/spreadsheets/d/1hl-bVGtlN1JMaNCbpx4tqgj7R5T_lkqo-KdooR9Aevk/edit#gid=1784474127). A table of this can be seen below:
| Pace C Team Member Conducting the Session | Participant's Name | Completed? [Link to video if yes, if partially complete state why, or if the session wasn't conducted say no] |
|-------------------------------------------|--------------------|---------------------------------------------------------------------------------------------------------------|
| JP | | |
| JP | | |
| Katrina | | |
| Katrina | | |
| Aleks | | |
| Aleks | | |
| Eric |Shawn Zhao |completed. https://drive.google.com/file/d/1ShiqTAuYx-A4fGYGX3kxUzmvrkmj7XxW/view?usp=sharing|
| Eric |Henter Yang|completed. https://drive.google.com/file/d/1BUfx8tWtxhA7n3y22yBHnbYKdaHj22cf/view?usp=sharing|

## User Groups and List of Tasks that Participants Completed

[Will most likely insert what Eric identified within list-of-tasks.md Potentially, we could also include the task breakdown table from deadlines-for-peer-testing-milestone.md as well] - ((common - Katrina))

## List of Issues Discovered and Their Priority - ((individual))

#### High

- The default option of timezone field cannot be selected.
- There should be a confirm message at each important button-clicking like clicking on submit buttons.
- In the list of mentor's task, there is one that asks participants to find help page. A help page or FAQ should be built.

#### Medium

- The suggested and accepted mentee pages take some time to load, a loading message should display.
- There is no double-check when reseting password.
- participant took longer time to find logout button than expected.
- participants always took longer time to find out what to do next. Probably need a tutorial for beginners.

#### Low

- The skill field is required but there is not red star beside its label.
- The instruction page right after logging in should be displayed. 


## Quantitative Data - ((common - JP))
[This would most likely come from the Google Forms which outlines the 10 point heuristics. I think Eric set this up - but we'll need to confirm]

### Testimonials from the Participants to Explain the Graph - ((indivial - unassigned))
- "what is the organization?" my participant asked when he was confused about what the organization field was for.
- "what should I do?" or "what is this?" when he logged in and don't know what to do next.
- My participant tried to directly click on here to login rather than check their emails first.
- "This field is required but there is no red star deside it." my participant mentioned when he was inputting skill field.

