# Pace C Peer Testing Milestone #1

## Brief Description of The System
[Placeholder until a description has been created] - ((common - JP))

## Current Set of Features Available in the System
[Placeholder until we identify the features] - ((common - JP))

## Number of Participants  - ((individual))
In total, \_\_\_ individuals took part in our peer testing sessions. The members in the table are labelled according to how they were entered in the [sign-up document](https://docs.google.com/spreadsheets/d/1hl-bVGtlN1JMaNCbpx4tqgj7R5T_lkqo-KdooR9Aevk/edit#gid=1784474127). A table of this can be seen below:
| Pace C Team Member Conducting the Session | Participant's Name | Completed? [Link to video if yes, if partially complete state why, or if the session wasn't conducted say no] |
|-------------------------------------------|--------------------|---------------------------------------------------------------------------------------------------------------|
| JP | | |
| JP | | |
| Katrina | | |
| Katrina | | |
| Aleks | Aaron Mahnic | https://drive.google.com/file/d/1uXFvFiiN1yc6-SzBoKF5isCCfTlds3us/view?usp=sharing |
| Aleks | Taha Ilyas | https://drive.google.com/file/d/1Yzp2Yam7Fi3GFtrNtAnT3c7f9rWOQf8S/view?usp=sharing |
| Eric | | |
| Eric | | |

## User Groups and List of Tasks that Participants Completed

[Will most likely insert what Eric identified within list-of-tasks.md Potentially, we could also include the task breakdown table from deadlines-for-peer-testing-milestone.md as well] - ((common - unassigned))

## List of Issues Discovered and Their Priority - ((individual))

#### High

- Timezone field does not "glow" red if the user did not enter anything, it only shows the text "please select your time-zone". (mentor and mentee form)
- When signing in, if the user does not enter anything for email and password, it just says "please input something" for both fields, and then a pop-up that says "the email address is badly formatted" however both fields are blank. (login page)
- From the above point, we should change "please input something" to "please input password" or "please input email", for the red text that pops up at the bottom of the field if the user does not enter an email address in the login page. (login page)
- If the user enters a incorrect username and password, the website creates a popup that is "wordy" and maybe difficult to understand. (login page)
- We should make different messages depending on of if the user did not enter any information in login screen (password/email) or if the user entered information but the information is wrong/does not have an account. (login page)
- From above points, change the login pop up messages depending on what is and is not filled in. Change the red text that popups at the bottom of the field depending on what is and is not filled in. (login page)

#### Medium

- If user did not enter something for organization, it says "please input something", we should change to this to something like "please enter your organization". (metnor form)
- Show more information on what "organization" is supposed to be (add more onto the tooltip). (mentor form)
- Add images/graphics. (mentor and mentee form, and login page)

#### Low

- Add more skills to "Top 3 skills". (mentor and mentee form)
- Change "Please enter your email in a proper format" to "Please enter a valid email", this is used more often in popular websites. (mentor and mentee form)
- If user did not select a time zone, the error message has a capital "T" in time zone, this should be changed to a lower case "t". (mentor and mentee form)

## Quantitative Data - ((common - unassigned))
[This would most likely come from the Google Forms which outlines the 10 point heuristics. I think Eric set this up - but we'll need to confirm]

### Testimonials from the Participants to Explain the Graph - ((indivial - unassigned))
- To show that the signup and login pages work together and show the user the correct order to fill out the forms:
  - Everything works smoothly and follows a flow. (while going through survey)
- To show that the website right now is similar to other popular websites:
  - Great website, hard to find something to change. (while user was filling out the survery questions)
- To show that website has a simple design, but may need more images/graphics:
  - Clean website. Easy to use. (while user was filling out the mentor form)
- To show that both mentor and mentee signup forms are easy to navigate and complete:
  - Simple website, easy to read and fill out forms. (while filling in mentor and mentee forms)
- Showing that the mentor login screen is clean but not much functionality for the mentor/mentee matching:
  - Simple UI for mentor home but not much functionality for the mentor/mentee matching system right now. (while looking at suggested and accepted mentees)
