# Pace C Peer Testing Milestone #1

## Brief Description of The System

[Placeholder until a description has been created] - ((common - JP))

## Current Set of Features Available in the System

[Placeholder until we identify the features] - ((common - JP))

## Number of Participants - ((individual))

In total, \_\_\_ individuals took part in our peer testing sessions. The members in the table are labelled according to how they were entered in the [sign-up document](https://docs.google.com/spreadsheets/d/1hl-bVGtlN1JMaNCbpx4tqgj7R5T_lkqo-KdooR9Aevk/edit#gid=1784474127). A table of this can be seen below:
| Pace C Team Member Conducting the Session | Participant's Name | Completed? [Link to video if yes, if partially complete state why, or if the session wasn't conducted say no] |
|-------------------------------------------|--------------------|---------------------------------------------------------------------------------------------------------------|
| JP | | |
| JP | | |
| Katrina | Jeff Hatton | https://1drv.ms/v/s!AkdNuTe3o4iRjSWDMI7EZIhrg-0- |
| Katrina | Matthew Currie | https://1drv.ms/v/s!AkdNuTe3o4iRjSarlnj12ptd4UVU |
| Aleks | | |
| Aleks | | |
| Eric | | |
| Eric | | |

## User Groups and List of Tasks that Participants Completed

[Will most likely insert what Eric identified within list-of-tasks.md Potentially, we could also include the task breakdown table from deadlines-for-peer-testing-milestone.md as well] - ((common - unassigned))

## List of Issues Discovered and Their Priority - ((individual))

#### High

- Include a red asterisk beside the input for the 'Top 3 skills' label.

#### Medium

- Add styling (such as bolded words) to draw the user's attention to important information on the 'congratulations' screens (such as to check their email).
- Add more colour to the website.

#### Low

- Have the time-zone field be highlighted in red since it's a required field, and the other required fields are also highlighted in red if a value is missing.

## Quantitative Data - ((common - unassigned))

[This would most likely come from the Google Forms which outlines the 10 point heuristics.]

### Testimonials from the Participants to Explain the Graph - ((indivial - unassigned))

- To demonstrate how the system has mechanisms to help users against making mistakes, users said the following:
  - "Oh cool! It [the input fields] does the error highlighting [when required fields are left blank]!"
  - "I liked the simplicity of the system. I was able to make mistakes without the system breaking or throwing unexpected errors."
- When interacting with the form, one user said: "Oh, I like that this [the fields to select skills] is a dropdown! Nice!". This is an example for how users are able to maintain control and have freedom to do what is needed.
- In regards to the system being "simple, clear, and aesthetically pleasing", when viewing the Mentee requests in the "Suggested Mentees" tab, a user said the following: "[the Accept and Decline buttons] are appropriately and intuitively defined, with the accept button containing a green checkmark, and the decline button having a red x".
