# Pace C Peer Testing Milestone #1

## Brief Description of The System
Our system, MentorMatch, allows people to sign up to be matched with a mentor, who can teach them skills they are interested in. In its current iteration, the system supports two types of users. First, there are mentors. They can fill out a form, where they will enter the skills they are able to teach people, the organization they belong to (this is because MentorMatch aims at eventually being used by organizations which can customize the platform to their needs), and some basic information about themselves. Then, there are mentees. Mentees can also sign up on the platform, and they also enter the skills they want to be taught and some basic information. Based on this information, MentorMatch will suggest mentees to mentors, which they can choose to accept or reject. If a mentee is accepted by a mentor, they receive an email to let them know and put them in touch with the mentor. 
Note: the matching algorithm and the sending of an email to a mentee once they are accepted by a mentor are still to be implemented. 

## Current Set of Features Available in the System
[Placeholder until we identify the features] - ((common - JP))

## Number of Participants  - ((individual))
In total, \_\_\_ individuals took part in our peer testing sessions. The members in the table are labelled according to how they were entered in the [sign-up document](https://docs.google.com/spreadsheets/d/1hl-bVGtlN1JMaNCbpx4tqgj7R5T_lkqo-KdooR9Aevk/edit#gid=1784474127). A table of this can be seen below:
| Pace C Team Member Conducting the Session | Participant's Name | Completed? [Link to video if yes, if partially complete state why, or if the session wasn't conducted say no] |
|-------------------------------------------|--------------------|---------------------------------------------------------------------------------------------------------------|
| JP | Andrew Dai | https://youtu.be/kXaaTNM4xDw A small part of the video was cut out because I had to stop another app running on my machine. |
| JP | Jaden Balogh | https://youtu.be/gE7sHhqmTF8 |
| Katrina | | |
| Katrina | | |
| Aleks | | |
| Aleks | | |
| Eric | | |
| Eric | | |

## User Groups and List of Tasks that Participants Completed

[Will most likely insert what Eric identified within list-of-tasks.md Potentially, we could also include the task breakdown table from deadlines-for-peer-testing-milestone.md as well] - ((common - unassigned))

## List of Issues Discovered and Their Priority - ((individual))

#### High

-

#### Medium

-

#### Low

-

## Quantitative Data - ((common - unassigned))
[This would most likely come from the Google Forms which outlines the 10 point heuristics. I think Eric set this up - but we'll need to confirm]

### Testimonials from the Participants to Explain the Graph - ((indivial - unassigned))
[Placeholder. Quotes from the user's experience will be placed here]
