# Pace C Peer Testing Milestone #2

## Brief Description of The System

Our system, MentorMatch, allows people to sign up to be matched with a mentor, who can teach them skills they are interested in. The system supports three types of users. First, there are Admins. Admins register their organization by creating an account on our platform. To register, they need to provide the name of the Organization that they're from, as well as their name, email address, and a password. Once registered, an Admin can invite Mentors to join the platform, and see which Mentor requests are pending as well which Mentors are actively using the system. Admins can view the Mentor Form that requested Mentors receive the link to in email upon being requested, as well as the Mentee Form, which they can generate an iFrame tag for to embed on their Orgnaization's public website. The second user type are Mentors. Mentors fill out the Mentor Form once requested by an Admin, and they provide information about the skills they are able to teach people, the organization they belong to (this is because MentorMatch aims at eventually being used by organizations which can customize the platform to their needs), when they're available to mentor, and some basic information about themselves. Mentors are able to view mentee requests, and decide whether to accept or decline them. The third user group are Mentees. Mentees register through the Mentee Form, which can be accessed through an Organization's public website. They provide the skills that they want to be Mentored in as well as some basic information about themself. Based on this information, MentorMatch will suggest mentees to mentors based on common skills and timezones. Once a Mentor accepts a Mentee request, that Mentee will receive an email containing information about the Mentor who accepted them. From there, the two user types can correspond through email to arrange meetings.

## Current Set of Features Available in the System

**To be completed after the peer testing sessions**

## Number of Participants

In total, **\_** individuals took part in our peer testing sessions. The members in the table are labelled according to how they were entered in the [sign-up document](https://docs.google.com/spreadsheets/d/1hl-bVGtlN1JMaNCbpx4tqgj7R5T_lkqo-KdooR9Aevk/edit#gid=1784474127). A table of this can be seen below:
| Pace C Team Member Conducting the Session | Participant's Name | Completion status and video link |
|-------------------------------------------|--------------------|---------------------------------------------------------------------------------------------------------------|
| JP | [Name of participant] | [Type of session ran, and link to the recording] |
| JP | [Name of participant] | [Type of session ran, and link to the recording]|
| Katrina | [Name of participant] | [Type of session ran, and link to the recording]|
| Katrina | [Name of participant] | [Type of session ran, and link to the recording] |
| Aleks | [Name of participant] | [Type of session ran, and link to the recording] |
| Aleks | [Name of participant]| [Type of session ran, and link to the recording] |
| Eric | Henter Yang | Completed. Thinkaloud: https://drive.google.com/file/d/1_FdA0rP5zLAmFA0Aos2wamYdOZxMxHJd/view?usp=sharing|
| Eric | Shawn Zhao | Completed. Remote: https://drive.google.com/file/d/1-0M3x3Uhek9k9XlFJKXyyF9WFvIFvIFR/view?usp=sharing|

## User Groups and List of Tasks that Participants Completed

**To be completed after the peer testing sessions**

## List of Issues Discovered and Their Priority

**To be completed after the peer testing sessions**

#### High
- Server sometimes accidentally shut down for unexpected reason.
- Need an extra tab for mentors to view the history of their declined mentee.
- Mentor user should not to logout and login to update their suggested mentees
#### Medium
- Illustration for avaliability field should be more specific. (contain a picture of an example link in the hint)
- The purpose of mentee form tab and view mentor form tab should be clarified.
- The name of tabs for viewing mentee and mentor forms are not consistent.
#### Low

## Quantitative Data

**To be completed after the peer testing sessions**

### Testimonials from the Participants to Explain the Graph

- After finishing filling AdminForm and verfying new account, user was confused for what to do next because the page remained on 'verification email has been sent'. 
- User tried to fill the sample forms of mentor and mentee as an admin, which should not happen.
- "what about google.com" a user said when he noticed that he needed to enter a URL in the availability field, which indicates that using a tooltip to hint to users is not specific enough.
- "How can I accept mentees" user said when he logged in as a mentor for the first time. The suggested mentees were not updated yet when he clicked on the 'suggested mentee' tab.
- User was confused and did not know what was happening when he was asked to relogin and logout for several times. This because the backend server was somehow not working accidentally.
- "I don't have a place to see who I just declined" user said when he was trying to find a history of who he just declined.
- "Maybe I need a link to go to home page" user said when he finished reseting password but needed a button or link to go back to home page.
**To be completed after the peer testing sessions**
