# Pace C Peer Testing Milestone #2

## Brief Description of The System

Our system, MentorMatch, allows people to sign up to be matched with a mentor, who can teach them skills they are interested in. The system supports three types of users. First, there are Admins. Admins register their organization by creating an account on our platform. To register, they need to provide the name of the Organization that they're from, as well as their name, email address, and a password. Once registered, an Admin can invite Mentors to join the platform, and see which Mentor requests are pending as well which Mentors are actively using the system. Admins can view the Mentor Form that requested Mentors receive the link to in email upon being requested, as well as the Mentee Form, which they can generate an iFrame tag for to embed on their Orgnaization's public website. The second user type are Mentors. Mentors fill out the Mentor Form once requested by an Admin, and they provide information about the skills they are able to teach people, the organization they belong to (this is because MentorMatch aims at eventually being used by organizations which can customize the platform to their needs), when they're available to mentor, and some basic information about themselves. Mentors are able to view mentee requests, and decide whether to accept or decline them. The third user group are Mentees. Mentees register through the Mentee Form, which can be accessed through an Organization's public website. They provide the skills that they want to be Mentored in as well as some basic information about themself. Based on this information, MentorMatch will suggest mentees to mentors based on common skills and timezones. Once a Mentor accepts a Mentee request, that Mentee will receive an email containing information about the Mentor who accepted them. From there, the two user types can correspond through email to arrange meetings.

## Current Set of Features Available in the System

**To be completed after the peer testing sessions**

## Number of Participants

In total, **\_** individuals took part in our peer testing sessions. The members in the table are labelled according to how they were entered in the [sign-up document](https://docs.google.com/spreadsheets/d/1hl-bVGtlN1JMaNCbpx4tqgj7R5T_lkqo-KdooR9Aevk/edit#gid=1784474127). A table of this can be seen below:
| Pace C Team Member Conducting the Session | Participant's Name | Completion status and video link |
|-------------------------------------------|--------------------|---------------------------------------------------------------------------------------------------------------|
| JP | [Name of participant] | [Type of session ran, and link to the recording] |
| JP | [Name of participant] | [Type of session ran, and link to the recording]|
| Katrina | [Name of participant] | [Type of session ran, and link to the recording]|
| Katrina | [Name of participant] | [Type of session ran, and link to the recording] |
| Aleks | Taha Ilyas | Completed. Thinkaloud: https://youtu.be/fkxPLrxQeDo |
| Aleks | Aaron Mahnic | Person did not show up to the assigned testing time (9:30-10:30). Thinkaloud: N/A  |
| Eric | [Name of participant] | [Type of session ran, and link to the recording]|
| Eric |[Name of participant] | [Type of session ran, and link to the recording]|

## User Groups and List of Tasks that Participants Completed

**To be completed after the peer testing sessions**

## List of Issues Discovered and Their Priority

**To be completed after the peer testing sessions**

#### High

#### Medium

#### Low
- One of the people testing said it would be nice to let mentees add a picture of themself on their suggested/accepted mentee card

## Quantitative Data

**To be completed after the peer testing sessions**

### Testimonials from the Participants to Explain the Graph
- "Very clean design"
- "Aesthetically pleasing"
- "Tasks are easy to navigate and easy to complete"
- "The tutorial and home page are very helpful for people who just signed up and wants to learn how the website works"
- "Very cool design. The design of how the mentors accept and decline mentees is very practical"
- 
