# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the develop branch
on:
  pull_request:
    branches: [develop, master]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: '15.x'
      - run: |
          npm install -g eslint
          npm install -g eslint-plugin-react@latest 
          npm install eslint-config-airbnb
          npm install -g eslint-plugin-prettier@latest 
          npm install -g eslint-config-prettier
          npm install -g eslint-config-standard
          npm install
          eslint src/front-end/src/**/*.js src/back-end/src/**/*.js

      # - name: Run ESLint
      #   run: eslint src/front-end/src/**/*.js src/back-end/src/**/*.js

      - name: Run jest
        run: |
          cd src/front-end/; npm install
          npm run test
